@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Nunito&family=Potta+One&display=swap");
::-webkit-scrollbar {
  width: 0;
  scroll-behavior: smooth;
}

html {
  width: 100vw;
}

html body {
  font-family: 'Nunito', sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #173e50;
  width: 100vw;
}

html body a {
  text-decoration: none;
  color: #ffffff;
}

html body nav {
  top: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  z-index: 5;
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  background-color: transparent;
  position: fixed;
  -webkit-backdrop-filter: blur(0.25rem);
          backdrop-filter: blur(0.25rem);
  border-bottom: 0.2rem solid #ffffff;
}

html body nav #h2 {
  font-weight: bolder;
  font-size: 2rem;
  color: #ffffff;
  padding-right: 2rem;
  cursor: pointer;
}

html body nav span {
  font-size: 1.5rem;
}

html body nav #menu {
  position: absolute;
  right: 1.5rem;
  padding-top: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0.3rem;
}

html body nav #menu a {
  margin-left: 1rem;
  padding: 0.4rem;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

html body nav #menu a:hover {
  text-decoration: none;
  color: #ffffff;
  border-radius: 0.5rem;
  background-color: #5858586b;
}

html body nav #menu a:active {
  text-decoration: none;
  color: #ffffff;
  border-radius: 0.5rem;
  background-color: #5858586b;
}

@media (max-width: 730px) {
  html body nav #menu {
    display: none;
  }
}

html body nav #menu2 {
  position: fixed;
  right: -3rem;
  top: 1rem;
}

html body nav #menu2 i {
  font-size: 2rem;
  color: #ffffff;
  cursor: pointer;
}

@media (max-width: 730px) {
  html body nav #menu2 {
    right: 1.5rem;
  }
}

html body #menu1 {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  z-index: 6;
  top: 0;
  left: -100%;
  font-size: 2.5rem;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  overflow: hidden;
  border-right: 0.2rem solid #ffffff;
}

html body #menu1 i {
  position: absolute;
  color: #ffffff;
  font-size: 3rem;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
}

html body #menu1 a {
  padding: 0 1rem 0 1rem;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

html body #menu1 a:hover {
  text-decoration: none;
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: #5858586b;
}

html body #menu1 a:active {
  text-decoration: none;
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: #5858586b;
}

html body #home {
  background-image: url("../IMAGES/home.jpg");
  background-attachment: fixed;
  padding-top: 5rem;
  background-size: cover;
  z-index: 4;
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  -webkit-clip-path: ellipse(100% 55% at 48% 44%);
          clip-path: ellipse(100% 55% at 48% 44%);
}

html body #home #cir {
  border-radius: 50%;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  height: 80vw;
  width: 80vw;
  position: absolute;
  background-color: transparent;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 730px) {
  html body #home #cir {
    height: 80vh;
    width: 80vh;
  }
}

html body #home #cir h1 {
  font-size: 10rem;
  text-align: center;
}

html body #gc {
  overflow: hidden;
  width: 100vw;
  height: 100%;
}

html body #gc h1 {
  z-index: 4;
  color: white;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  border-bottom: 0.2rem solid #969696;
  border-top: 0.2rem solid #969696;
}

html body #gc #wave {
  position: absolute;
  z-index: 1;
  width: 1000px;
  height: 1025px;
  top: 115%;
  right: 10%;
  margin-top: 10rem;
  border-radius: 35%;
  background: #979797bf;
  -webkit-animation: wave 15s infinite linear;
          animation: wave 15s infinite linear;
}

@-webkit-keyframes wave {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes wave {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

html body #gc #gallery {
  padding-top: 5rem;
  z-index: 4;
  position: relative;
  width: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body #gc #gallery .wlink {
  border-radius: 0.5rem;
  background-color: #ffffff6b;
  margin: 4rem 4rem 0 4rem;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  padding: 2rem;
}

@media (min-width: 475px) {
  html body #gc #gallery .wlink {
    min-width: 30rem;
  }
}

@media (min-width: 992px) {
  html body #gc #gallery .wlink {
    min-width: 50rem;
  }
}

html body #gc #gallery .wlink:hover {
  margin-left: 3.9rem;
  background-color: #ffffffab;
  -webkit-box-shadow: 0.2rem 0.2rem 0rem #808080;
          box-shadow: 0.2rem 0.2rem 0rem #808080;
}

html body #gc #gallery .wlink a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #4e4e4e;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

html body #gc #gallery .wlink a img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 0.5rem;
  height: 7.5rem;
  width: 7.5rem;
}

html body #gc #contact-us {
  padding-top: 5rem;
  z-index: 4;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

html body #gc #contact-us #comment {
  border-radius: 0.5rem;
  background-color: #ffffff6b;
  margin: 2rem;
  color: #4e4e4e;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  padding: 2rem;
}

@media (min-width: 475px) {
  html body #gc #contact-us #comment {
    min-width: 30rem;
  }
}

@media (min-width: 992px) {
  html body #gc #contact-us #comment {
    min-width: 50rem;
  }
}

html body #gc #contact-us #comment:hover {
  margin-left: 1.9rem;
  background-color: #ffffffab;
  -webkit-box-shadow: 0.2rem 0.2rem 0rem #808080;
          box-shadow: 0.2rem 0.2rem 0rem #808080;
}

html body #gc #contact-us #comment form {
  height: 100%;
  width: 100%;
}

html body #gc #contact-us #comment form fieldset {
  border: 0.2rem solid #969696;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

html body #gc #contact-us #comment form fieldset legend {
  width: 9ch;
  padding-left: 1ch;
  margin-left: 2ch;
}

html body #gc #contact-us #comment form fieldset input, html body #gc #contact-us #comment form fieldset textarea {
  outline: none;
}

html body #gc #contact-us #comment form fieldset .fill {
  width: 100%;
  height: 4rem;
  margin-bottom: 0.5rem;
}

html body #gc #contact-us #comment form fieldset .fill .enter {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  background: none;
  width: 100%;
  padding-left: 1rem;
  color: #333333;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  border: none;
  border-bottom: 3px solid gray;
}

html body #gc #contact-us #comment form fieldset .fill .enter:hover {
  border-bottom: 3px solid #173e50;
}

html body #gc #contact-us #comment form fieldset .fill .enter:focus {
  border-bottom: 3px solid #173e50;
}

html body #gc #contact-us #comment form fieldset .fill .enter:focus ~ label {
  margin-top: -4rem;
}

html body #gc #contact-us #comment form fieldset .fill .enter:valid {
  border-bottom: 3px solid #173e50;
}

html body #gc #contact-us #comment form fieldset .fill .enter:valid ~ label {
  margin-top: -4rem;
}

html body #gc #contact-us #comment form fieldset .fill .labl {
  position: absolute;
  margin-left: 0.25rem;
  margin-top: -2rem;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  color: #4e4e4e;
}

html body #gc #contact-us #comment form fieldset .fill #rates {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

html body #gc #contact-us #comment form fieldset .fill #rat {
  position: absolute;
  margin: 0.5rem 0 0 0.25rem;
}

html body #gc #contact-us #comment form fieldset .fill input[type=radio] {
  height: 0rem;
  width: 0rem;
  margin: 0 0 0 0.5rem;
}

html body #gc #contact-us #comment form fieldset .fill input[type=radio]:checked ~ .rat {
  color: goldenrod;
}

html body #gc #contact-us #comment form fieldset .fill input[type=radio]:hover ~ .rat {
  color: goldenrod;
}

html body #gc #contact-us #comment form fieldset .fill .rat {
  font-size: 2rem;
  color: gray;
  background-color: transparent;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

html body #gc #contact-us #comment form fieldset button {
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  padding: 0.5rem 1rem 0 1rem;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
  outline: none;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  border: none;
  background-color: #277092;
}

html body #gc #contact-us #comment form fieldset button:active {
  background-color: #2b90be;
}

html body #gc #contact-us #comment form fieldset button:hover {
  background-color: #2b90be;
}

html body #about-us {
  width: 100%;
  height: 90vh;
  z-index: 4;
  overflow: hidden;
  background-color: #0d242e;
}

html body #about-us h1 {
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 15rem;
  padding: 0.5rem;
  border-bottom: 0.2rem solid #969696;
  border-top: 0.2rem solid #969696;
}
/*# sourceMappingURL=style.css.map */